# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
beautifulsoup4=4.9.1=py36_0
bs4=4.9.1=0
certifi=2016.2.28=py36_0
cssselect=1.0.1=py36_0
freetype=2.5.5=2
importlib-metadata=1.7.0=py36_0
importlib_metadata=1.7.0=0
jbig=2.1=0
jpeg=9b=0
libiconv=1.14=0
libpng=1.6.30=1
libtiff=4.0.6=3
libxml2=2.9.4=0
libxslt=1.1.29=0
lxml=3.8.0=py36_0
olefile=0.44=py36_0
openssl=1.0.2l=0
path=13.1.0=py36_0
pillow=4.2.1=py36_0
pip=9.0.1=py36_1
pyquery=1.4.0=py36_0
python=3.6.2=0
pyyaml=3.12=py36_0
readline=6.2=2
requests=2.14.2=py36_0
setuptools=36.4.0=py36_1
soupsieve=2.0.1=py_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.29.0=py36_0
xz=5.2.3=0
yaml=0.1.6=0
zipp=3.3.0=py_0
zlib=1.2.11=0
